@{
    ViewBag.Title = "Home Page";
}
@Scripts.Render("~/bundles/jquery")

<div class="jumbotron">
    <h1>Clocker</h1>
    <p class="lead">Welcome to clocker! Please sign in to start clocking your hours! Don't do too little or your hard earned cash goes into the punishiment piggy bank!</p>
    
    <h2><time>00:00:00</time></h2>
    <button id="start">start</button>
    <button id="stop">stop</button>
    <button id="clear">clear</button>
    <script type="text/javascript">
        $(document).ready(function () {
            var h1 = document.getElementsByTagName('h2')[0],
                start = document.getElementById('start'),
                stop = document.getElementById('stop'),
                clear = document.getElementById('clear'),
                seconds = 0, minutes = 0, hours = 0,
                t;

            function add() {
                seconds++;
                if (seconds >= 60) {
                    seconds = 0;
                    minutes++;
                    if (minutes >= 60) {
                        minutes = 0;
                        hours++;
                    }
                }

                h1.textContent = (hours ? (hours > 9 ? hours : "0" + hours) : "00") + ":" + (minutes ? (minutes > 9 ? minutes : "0" + minutes) : "00") + ":" + (seconds > 9 ? seconds : "0" + seconds);

                timer();
            }
            function timer() {
                t = setTimeout(add, 1000);
            }
            timer();


            /* Start button */
            start.onclick = timer;

            /* Stop button */
            stop.onclick = function () {
                clearTimeout(t);
            }

            /* Clear button */
            clear.onclick = function () {
                h1.textContent = "00:00:00";
                seconds = 0; minutes = 0; hours = 0;
            }
        });
    </script>
    <p></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>TODO</h2>
        <p>
            Change button up top to redirect to sign in, or when signed in, clocks your hours.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>